
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --primary: 252 59% 75%;
  --primary-foreground: 0 0% 98%;
}

.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --primary: 252 59% 65%;
  --primary-foreground: 0 0% 98%;
}

@layer base {
  body {
    @apply bg-background text-foreground transition-colors duration-300;
  }
}
